div, .btn {
  margin: 0;
  padding: 0;
}

.container-main{
  display: flex;
  flex-direction: column;
}
.header-image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control.search{
  width: 80%;
}

.list{
max-width: 1000px;
}
.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  border: 1px blue solid;
}
.menu-item.active {
  border: 1px green solid;
}
 
.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}
.image-header {
  width: 95%;
  height: 70%;
  border-radius: 10px;
}

.category{
  display: flex;
  flex-direction: column;
}


.list-category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.item{
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-category{
  max-width: 5%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.navbar {
  flex: 1;
}
.container-content{
  display: flex;
}
.container-left{
flex: 3;
}
.dropdown{
  max-width: 2%;
  display: flex;
  justify-content: flex-end;
}
/* .product-list{
  display: flex;
  justify-content: space-evenly;
} */

.card-food{
  max-width: 18rem;
}

.container-right{
flex: 1;
display: flex;
flex-direction: column;
}


.address{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.myorder{
  align-self: start;
}
.card-address{
  max-width: 100%;
}


.container-cart {
  display: flex;
  flex-direction: row;
}

.cart-item {
  flex: 3;
  display: flex;
  justify-content: center;
}

.cart-image{
  max-width: 80%;;
  border-radius: 5%;
}

.cart-detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.total-price {
  display: flex;
  flex-direction: row;
}

.total-text{
  flex: 1;
}

.amount{
  display: flex;
  flex-direction: row;
}

.add{
  flex: 1;
}

.quantity{
  flex: 1;
}

.reduce{
  flex: 1 ;
}

.price {
  flex: 3;
  align-items: center;
}

.row{
  display: flex;
  align-items: center;
}

.checkout {
  display : flex;
  flex-direction: row;
}

.kosong {
  flex: 1;
}

.checkout-text {
  flex: 1;
  
}